<channels>
<channel>
<title>ISMOKE Event Videos</title>
<utube>UC_24jKIAWs4f3nk21CGgVRg|PL3tf-8jUewlmPaBJ1x8DRasYN8q7Q6B97</utube>
<thumbnail>https://github.com/lefty420/media/raw/master/images/12.jpg</thumbnail>
<fanart>https://github.com/lefty420/media/raw/master/images/events-background.jpg</fanart>
<info>Watch videos about cannabis events and protests in the UK</info>
</channel>
  
</channels>
